body
{
    background: linear-gradient(to left,#1c0522,#453778);
}
#contact{
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  #contact .getin{
    width: 350px;
  }
  
  #contact .getin h2{
    color: #f3f2f7;
    font-size: 40px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
  }
  
  #contact .getin p{
    color: #000008;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed;
    font-size: 21px;
  }
  
  #contact .getin h3{
    color: #f3f2f7;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  #contact .getin .getin-details div{
    display: flex; 
  }
  
  #contact .getin .getin-details div .get{
    font-size: 16px;
    line-height: 22px;
    color: #5838fc;
    margin-right: 20px;
  }
  
  #contact .getin .getin-details div p{
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  #contact .getin .getin-details .pro-links .facebook i{
    margin-right: 20px;
  }
  
  #contact .getin .getin-details .pro-links .instagram i{
    margin-right: 20px;
  }
  
  #contact .getin .getin-details .pro-links .Linkedin i{
    margin-right: 180px;
  }
  
  #contact .form{
    width: 60%;
    background: #f7f6fa;
    padding: 40px;
    border-radius: 10px;
  }
  
  #contact .form h4{
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 8px;
  }
  
  #contact .form p{
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;
  }
  
  #contact .form .form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  #contact .form .form-row input{
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  
  #contact .form .form-col input{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 10px;
    margin-bottom: 20px;
  }
  
  #contact .form .form-col textarea{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 10px;
    margin-bottom: 20px;
  }
  
  #contact .form button{
    font-size: .9rem;
    padding: 13px 25px;
    background: rgb(21, 21, 100);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
  }